<% include ../../partials/header %>

<% include ../../partials/sidebar %>
<div class="container">
    <h1 class="h2 mt-2">Edit Members</h1>
    <form method="POST">

        <div class="form-group row">
            <label for="nameMember" class="col-sm-2 col-form-label">
                Members</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" id="nameMamber" name="nameMember"
                    value="<%=member.fullname%>" readonly>
            </div>
        </div>

        <fieldset class="form-group">
            <div class="row">
                <legend class="col-form-label col-sm-2 pt-0">Position</legend>
                <div class="col-sm-10">

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="inputposition"
                            id="gridRadios1" value="Manager"
                            <%= member.role == 'Manager' ? 'checked' : '' %>>
                        <label class="form-check-label" for="gridRadios1">
                            Manager
                        </label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="inputposition"
                            id="gridRadios2" value="Software Developer"
                            <%= member.role == 'Software Developer' ? 'checked' : '' %>>
                        <label class="form-check-label" for="gridRadios2">
                            Software Developer
                        </label>

                    </div>
                    <div class="form-check disabled">
                        <input class="form-check-input" type="radio" name="inputposition"
                            id="gridRadios3" value="Quality Assurance"
                            <%= member.role == 'Quality Assurance' ? 'checked' : '' %>>
                        <label class="form-check-label" for="gridRadios3">
                            Quality Assurance
                        </label>
                    </div>

                </div>
            </div>
        </fieldset>

        <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-success">Save</button>
                
                <a class="btn btn-outline-info" href="/projects/<%=projectid%>/members"
                    role="button">Back</a>
            </div>
        </div>
    </form>
</div>
<% include ../../partials/footer %>